@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

.more {
  color: rgb(14, 14, 105);
  font-style: italic;
}
.more:hover {
  text-decoration: underline;
}

.dark .more {
  color: rgb(255, 255, 255);
}
